#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &kp F &kp G
                &kp H &kp I &kp J
                &kp K &kp L &kp M &kp N
                &mo 1  &mo 2  &mo 3
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        layer_1 {
            display-name = "Layer 1";
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &kp F &kp G
                &kp H &kp I &kp J
                &kp K &kp L &kp M &kp N
                &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        layer_2 {
            display-name = "Layer 2";
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &kp F &kp G
                &kp H &kp I &kp J
                &kp K &kp L &kp M &kp N
                &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        layer_3 {
            display-name = "Layer 3";
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &kp F &kp G
                &kp H &kp I &kp J
                &kp K &kp L &kp M &kp N
                &bootloader &studio_unlock &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        
    };
};
